* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/aqua-main.jpeg);
    background-position: center;
    background-size: cover;
    border-style: solid;
    background-color: whitesmoke;
    font-family: 'Share', cursive;
}

.hero {
    height: 75vh;
    width: 100%;
    background-image: url(../images/hero-pic.JPG);
    background-size: cover;
    background-position: center;
    border-color: aqua;
    border-style: solid;
    border-width: 3px;
    box-shadow: 5px 5px 10px 5px black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.logo {
    color: whitesmoke;
    text-shadow: 2px 2px aqua;
    font-size: 80px;
}

span {
    color: aqua;
    text-shadow: 2px 2px whitesmoke;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
}

nav ul li a {
    color: aqua;
    font-weight: bold;
    text-shadow: 1.5px 1.5px whitesmoke;
    text-decoration: none;
    font-size: 35px;
}

nav ul li:hover {
    transition: .4s;
    transform: scale(1.4);
}

nav ul li a:hover {
    color: whitesmoke;
    text-shadow: 1.5px 1.5px aqua;
}

.about-me {
    color: whitesmoke;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 3%;
}

.name {
    text-shadow: 2px 2px aqua;
    font-size: 70px;
    text-align: center;
}

.big {
    color: aqua;
    text-shadow: 1px 1px black;
}

.scroll-bg-color {
    margin-top: 10px;
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    border-style: solid;
    border-color: aqua;
    border-width: 4px;
    box-shadow: 5px 5px 10px 5px black;
    position: absolute;
    text-align: center;
}

.scroll-space {
    background-color: whitesmoke;
    overflow: hidden;
    overflow-y: scroll;
    height: 250px;
}

.scroll-text {
    color: black;
    text-shadow: 1px 1px aqua;
    font-size: 25px;
    padding: 20px;
}

.projects {
    margin-top: 200px;
}

h4 {
    color: black;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px aqua;
    margin-top: 50px;
}

.project-1 {
    background-color: whitesmoke;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 5px black;
    margin: auto;
    width: 75%;
    height: 75%;
}

#crypto {
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 5px 5px 10px 5px black;
    width: 85%;
    height: 85%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

h5 {
    font-size: 40px;
}



footer {
    background-image: url(../images/aqua-foot.jpeg);
    background-position: center;
    background-size: cover;
    height: 25vh;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    box-shadow: 5px 5px 10px 5px black;
    padding: 25px
}

h6 {
    font-size: 25px;
    text-shadow: 2px 2px aqua;
    text-align: center;
    padding: 25px;
}

.contact-me-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}